.idea/
env/
test.py
.vscode/
src/backbones/__pycache__/
dump.txt
src/__pycache__/
.DS_Store
assets/.DS_Store
dataset/CamVid/
src/datasets/__pycache__/
dataset/camvid-secret.sh
src/model/__pycache__/
secret.py
__pycache__/
src/.ipynb_checkpoints/
.ipynb_checkpoints/
logs/
